/* 
FlexMonkey 1.0, Copyright 2008, 2009 by Gorilla Logic, Inc.
FlexMonkey 1.0 is distributed under the GNU General Public License, v2.
*/

/* --- registration styles --- */

ext.regFormText {
	color: #333333;
	fontSize: 11;
}
Text.regFormError {
	color: #990000;
	fontSize: 11;
}
Text.regFormLink {
	color: #333399;
	fontSize: 10;
	fontWeight: normal;
	textDecoration: underline;
}

Text.regFormTitle {
	fontSize: 20;
}

Form.regForm {
	borderStyle: none;
	paddingLeft: 10; paddingRight: 10; paddingTop: 10; paddingBottom: 10;
	indicatorGap: 20;
	verticalGap: 5;
}

FormItem.regFormItem {
	fontWeight: bold;
	color: #333333;
}

TextInput.regFormInput {
	fontWeight: normal;
	fontSize: 11;
	color: #666666;
	borderStyle: solid;
	borderColor: #666666;
	borderThickness: 1;
	backgroundColor: #EEEEEE;
	paddingLeft: 2; paddingRight: 2; paddingTop: 0; paddingBottom: 0;
}

ComboBox.regFormCombo {
	borderColor: #666666;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #EEEEEE, #CCCCCC;
	fontWeight: normal;
	paddingLeft: 2; paddingRight: 2; paddingTop: 0; paddingBottom: 0;
}

Button.regFormButton {
	borderColor: #666666;
	cornerRadius: 0;
	fillAlphas: 1.0, 1.0;
	fillColors: #EEEEEE, #CCCCCC;
	paddingLeft: 5; paddingRight: 5; paddingTop: 0; paddingBottom: 0;
}






/* --- end of registration styles --- */

.spyTab {
	cornerRadius: 5;
	borderStyle:solid;
	borderThickness:1;
	borderColor:#808080;		
}
.spyTabBody {
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
	paddingLeft:0;
	tabHeight:27;
	borderStyle:solid;
	borderThickness:1;
	borderColor:#808080;	
}

ToolTip { 
	fontSize: 8;   
	backgroundColor: #E8E8E8;
}   

.AlertDialog{
   	GIF:Embed("assets/m097.gif", mimeType="application/octet-stream");
} 

.SnapshotDialog{
   	GIF:Embed("assets/m062.gif", mimeType="application/octet-stream");
} 

.SaveWarningDialog{
   	GIF:Embed("assets/m179.gif", mimeType="application/octet-stream");
} 		

.IntroDialog{
	GIF:Embed("assets/m177.gif", mimeType="application/octet-stream");
}

CommandGridCommandItemRenderer{
	MouseGridIcon:Embed(source="../../Assets/icons/mouse_16/mouse.png");
	KeyboardGridIcon:Embed(source="../../Assets/icons/keyboard_16/keyboard.png");
	LightningGridIcon:Embed(source="../../Assets/icons/lightning_16/lightning.png");
	VerifyGridIcon:Embed(source="../../Assets/icons/photocamera_16/photocamera_16.png");
	PauseGridIcon:Embed(source="../../Assets/icons/sandclock_16/sandclock_16.png");
}

CommandGridResultItemRenderer{
	passGridIcon:Embed(source="../../Assets/icons/ok_16/ok_16.png");
	failGridIcon:Embed(source='../../Assets/icons/close_b_16/close_b_16.png');
	notRunGridIcon:Embed(source='../../Assets/icons/asterisk_orange_16/asterisk_orange.png');
	warningGridIcon:Embed(source="../../Assets/icons/warning_16/warning.png");
	errorGridIcon:Embed(source="../../Assets/icons/error_16/error_16.png");
}	

.CommandGrid{
	defaultLeafIcon:ClassReference(null);	
  	testSuiteOpenIcon:Embed(source='../../Assets/icons/folder_16/folder_open_S_16.png');
	testSuiteClosedIcon:Embed(source='../../Assets/icons/folder_16/folder_closed_S_16.png');    		
  	testCaseOpenIcon:Embed(source='../../Assets/icons/folder_16/folder_open_C_16.png');
	testCaseClosedIcon:Embed(source='../../Assets/icons/folder_16/folder_closed_C_16.png');  
  	testOpenIcon:Embed(source='../../Assets/icons/folder_16/folder_open_T_16.png');
	testClosedIcon:Embed(source='../../Assets/icons/folder_16/folder_closed_T_16.png'); 
  	defaultOpenIcon:Embed(source='../../Assets/icons/folder_16/folder_open_16.png');
	defaultClosedIcon:Embed(source='../../Assets/icons/folder_16/folder_closed_16.png');  	 	
}

.RecordButton{
   	upSkin:Embed(source='../../Assets/icons/record_32/record_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/record_32/record_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/record_32/record_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/record_32/record_disabled_32.png');    		
   	selectedUpSkin:Embed(source='../../Assets/icons/record_32/record_normal_selected_32.png');
	selectedOverSkin:Embed(source='../../Assets/icons/record_32/record_normal_selected_hover_32.png');
	selectedDownSkin:Embed(source='../../Assets/icons/record_32/record_hot_selected_hover_32.png');     	
}
 
.PlayButton{
   	upSkin:Embed(source='../../Assets/icons/play_32/play_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/play_32/play_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/play_32/play_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/play_32/play_disabled_32.png');    		
   	selectedUpSkin:Embed(source='../../Assets/icons/play_32/play_normal_selected_32.png');
	selectedOverSkin:Embed(source='../../Assets/icons/play_32/play_normal_selected_hover_32.png');
	selectedDownSkin:Embed(source='../../Assets/icons/play_32/play_hot_selected_hover_32.png');
}    	
 
.PauseButton{
   	upSkin:Embed(source='../../Assets/icons/pause_32/pause_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/pause_32/pause_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/pause_32/pause_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/pause_32/pause_disabled_32.png');  
   	selectedUpSkin:Embed(source='../../Assets/icons/pause_32/pause_normal_selected_32.png');
	selectedOverSkin:Embed(source='../../Assets/icons/pause_32/pause_normal_selected_hover_32.png');
	selectedDownSkin:Embed(source='../../Assets/icons/pause_32/pause_hot_selected_hover_32.png');      		  		
}   	

.AddTestSuiteButton{
   	upSkin:Embed(source='../../Assets/icons/folder_32/folder_normal_S_32.png');
	overSkin:Embed(source='../../Assets/icons/folder_32/folder_normal_hover_S_32.png');
	downSkin:Embed(source='../../Assets/icons/folder_32/folder_hot_hover_S_32.png');
	disabledSkin:Embed(source='../../Assets/icons/folder_32/folder_disabled_S_32.png');   		
}    

.AddTestCaseButton{
   	upSkin:Embed(source='../../Assets/icons/folder_32/folder_normal_C_32.png');
	overSkin:Embed(source='../../Assets/icons/folder_32/folder_normal_hover_C_32.png');
	downSkin:Embed(source='../../Assets/icons/folder_32/folder_hot_hover_C_32.png');
	disabledSkin:Embed(source='../../Assets/icons/folder_32/folder_disabled_C_32.png');   		
}    

.AddTestButton{
   	upSkin:Embed(source='../../Assets/icons/folder_32/folder_normal_T_32.png');
	overSkin:Embed(source='../../Assets/icons/folder_32/folder_normal_hover_T_32.png');
	downSkin:Embed(source='../../Assets/icons/folder_32/folder_hot_hover_T_32.png');
	disabledSkin:Embed(source='../../Assets/icons/folder_32/folder_disabled_T_32.png');   		
}    	
 
.AddVerifyButton{
   	upSkin:Embed(source='../../Assets/icons/ok_32/ok_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/ok_32/ok_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/ok_32/ok_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/ok_32/ok_disabled_32.png');  	
}    	

.AddPauseButton{
   	upSkin:Embed(source='../../Assets/icons/sandclock_32/sandclock_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/sandclock_32/sandclock_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/sandclock_32/sandclock_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/sandclock_32/sandclock_disabled_32.png');  		
} 
 
.UndoButton{
   	upSkin:Embed(source='../../Assets/icons/back_32/back_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/back_32/back_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/back_32/back_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/back_32/back_disabled_32.png');   	    		
} 
 
.RedoButton{
   	upSkin:Embed(source='../../Assets/icons/next_32/next_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/next_32/next_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/next_32/next_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/next_32/next_disabled_32.png');   	    		
}

.DeleteButton{
   	upSkin:Embed(source='../../Assets/icons/delete_32/delete_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/delete_32/delete_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/delete_32/delete_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/delete_32/delete_disabled_32.png');   	    		
}
    	    	    	
.SaveButton{
   	upSkin:Embed(source='../../Assets/icons/diskette_32/diskette_normal_32.png');
	overSkin:Embed(source='../../Assets/icons/diskette_32/diskette_normal_hover_32.png');
	downSkin:Embed(source='../../Assets/icons/diskette_32/diskette_hot_hover_32.png');
	disabledSkin:Embed(source='../../Assets/icons/diskette_32/diskette_disabled_32.png');   
} 

.BrowserConnectionIndicator{
   	upSkin:Embed(source='../../Assets/icons/sphere_32/sphere_normal_yellow_32.png');
	overSkin:Embed(source='../../Assets/icons/sphere_32/sphere_normal_yellow_32.png');
	downSkin:Embed(source='../../Assets/icons/sphere_32/sphere_normal_yellow_32.png');
	disabledSkin:Embed(source='../../Assets/icons/sphere_32/sphere_disabled_32.png');  
   	selectedUpSkin:Embed(source='../../Assets/icons/sphere_32/sphere_normal_green_32.png');
	selectedOverSkin:Embed(source='../../Assets/icons/sphere_32/sphere_normal_green_32.png');
	selectedDownSkin:Embed(source='../../Assets/icons/sphere_32/sphere_normal_green_32.png');      		  		
} 

.TakeExpectedSnapshotButton{
   	upSkin:Embed(source='../../Assets/icons/photocamera_48/photocamera_normal_48.png');
	overSkin:Embed(source='../../Assets/icons/photocamera_48/photocamera_normal_hover_48.png');
	downSkin:Embed(source='../../Assets/icons/photocamera_48/photocamera_hot_hover_48.png');
	disabledSkin:Embed(source='../../Assets/icons/photocamera_48/photocamera_disabled_48.png');   
} 

.RetakeExpectedSnapshotButton{
   	upSkin:Embed(source='../../Assets/icons/photocamera_reload_48/photocamera_reload_normal_48.png');
	overSkin:Embed(source='../../Assets/icons/photocamera_reload_48/photocamera_reload_normal_hover_48.png');
	downSkin:Embed(source='../../Assets/icons/photocamera_reload_48/photocamera_reload_hot_hover_48.png');
	disabledSkin:Embed(source='../../Assets/icons/photocamera_reload_48/photocamera_reload_disabled_48.png');   
}

.ShowSnapshotWindowButton{
   	upSkin:Embed(source='../../Assets/icons/window_48/window_normal_48.png');
	overSkin:Embed(source='../../Assets/icons/window_48/window_normal_hover_48.png');
	downSkin:Embed(source='../../Assets/icons/window_48/window_hot_hover_48.png');
	disabledSkin:Embed(source='../../Assets/icons/window_48/window_disabled_48.png');   	
}

.ShowSpyWindowButton{
   	upSkin:Embed(source='../../Assets/icons/zoom_48/zoom_normal_48.png');
	overSkin:Embed(source='../../Assets/icons/zoom_48/zoom_normal_48.png');
	downSkin:Embed(source='../../Assets/icons/zoom_48/zoom_hot_48.png');
	disabledSkin:Embed(source='../../Assets/icons/zoom_48/zoom_disabled_48.png'); 	
}

.commandDetailErrorMessageText{
	fontSize: 10;   
	color: #DD0000;
	fontWeight: bold;
}